<div class="page-container">
  <div class="navbar">
    <div>
      <h2>Safe Share</h2>
    </div>
    <div>
      <button (click)="showLogin = true">Sign In</button>
      <button>Sign Up</button>
    </div>
  </div>

  <div class="greeting-container">
    <div class="greeting-image">
      <img src="/assets/smiley.webp">
    </div>
    <div class="greeting-message">
      <h1 class="greeting-content">A New Way To Help</h1>
      <p class="greeting-content">
        We are here to help the world better and more transparent 
      </p>
      <button class="create-account-button">Create an account</button>
    </div>
  </div>
</div>

<modal [show]="showLogin" (onClose)="showLogin = false">
  <signin (success)="showLogin = false"></signin>
</modal>

<router-outlet></router-outlet>
