.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.page-container {
    margin: auto;
    max-width: 800px;
}

.greeting-container {
    display: flex;

    .greeting-message {
        .greeting-content {
            text-align: center;
        }

        .create-account-button {
            display: block;
            margin: auto;
        }
    }

    .greeting-image,
    .greeting-message {
        flex: 1;
    }
}